server:
  port: 8081

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/ksoolmate
    username: ksoolmate
    password: 1234
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update   # prod에서는 절대 create 쓰지 마
    database-platform: org.hibernate.dialect.MySQLDialect
    properties:
      hibernate:
        format_sql: true
        default_batch_fetch_size: 100

  messages:
    encoding:
      charset: UTF-8
      enabled: true
      force: true

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

file:
  dir: /home/ubuntu/files/

logging:
  level:
    org.hibernate.SQL: debug
