server:
  port: 8081
  error:
    whitelabel:
      enabled: true
    include-message: always

spring:
  application:
    name: upload
  datasource:
    url: jdbc:h2:tcp://localhost/~/jpashop
    username: sa
    password:
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
        default_batch_fetch_size: 100
  messages:
    encoding:
      charset: UTF-8
      enabled: true
      force: true

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

file:
  dir: /Users/kim/Documents/inflearn/file/

logging:
  level:
    org.hibernate.SQL: debug
    org.apache.coyote.http11: debug
    # Hibernate 6.x용 (Spring Boot 3.x 사용 시 주석 해제)
    # org.hibernate.orm.jdbc.bind: trace
